
.bg-image {
    flex: 0 0 50%; 
    max-width: 50%;
}

.flex-align {
    flex: 0 0 50%; 
}

.bg-onboarding {
    background: url('/side-bg.svg') no-repeat center;
    background-size: cover;
}

.hiddenCheckbox {
    display: none;
}

.customCheckbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.customCheckmark {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('/unchecked.svg') no-repeat center;
    background-size: cover;
    transition: background-image 0.2s;
}

.hiddenCheckbox:checked + .customCheckmark {
    background: url('/checkbox.svg') no-repeat center;
}

.back-icon-mobile {
    @media only screen and (max-width: 600px) {
        display: block;
        width: 33px;
        height: 33px;
        align-content: center;
        padding-left: 9px;
    }
}

h1 {
    @media only screen and (max-width: 600px) {
        font-size: 19px;
    }
}

h2 {
    @media only screen and (max-width: 600px) {
        font-size: 14px;
    }
}
.header-mobile {
    @media only screen and (max-width: 600px) {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}